<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Insurance Bill</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Insurance Bill</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
      <label for="age">age</label>
      <select id="age" name="age">
        <option value=0>10s</option>
        <option value=1>20s</option>
        <option value=2>30s</option>
        <option value=3>40s</option>
        <option value=4>50s</option>
        <option value=5>60s</option>
      </select>
      <br>
      <label for="sex">sex</label>
      <select id="sex" name="sex">
        <option value=0>female</option>
        <option value=1>male</option>
      </select>
      <br>
      <label for="BMI">BMI</label>
      <input type="text" id="BMI" name="BMI">
      <br>
      <label for="children">children</label>
      <select id="children" name="children">
        <option value=0>0</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
      </select>
      <br>
      <label for="smoker">smoker</label>
      <select id="smoker" name="smoker">
        <option value=0>no</option>
        <option value=1>yes</option>
      </select>
      <br>
      <label for="region">region</label>
      <select id="region" name="region">
        <option value=0>northeast</option>
        <option value=1>northwest</option>
        <option value=2>southeast</option>
        <option value=3>southwest</option>
      </select>
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>
